body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

p {
  color: gray;
  font-size: 21px;
}

video {
  object-fit: contain;
}

.tba {
  color: aquamarine;
  font-size: 16px;
}